---
title: Eli Zupke
---

<section>

{% capture home_include %}{% include home_page_text.md %}{% endcapture %}
{{ home_include | markdownify }}
</section>
<section>
<h1>Contact</h1>
<table>
  <tbody>
    <tr>
      <td style="text-align: right">Email:</td>
      <td><a href="mailto:elizupke@gmail.com">elizupke@gmail.com</a></td>
    </tr>
    <tr>
      <td style="text-align: right">LinkedIn:</td>
      <td><a href="https://www.linkedin.com/in/eli-zupke/">Eli Zupke</a></td>
    </tr>
  </tbody>
</table>
</section>
<section>
<h1>Recent Posts</h1>
  {% for post in site.posts limit:3 %}
	{% include post-in-list.html post=post %}
  {% endfor %}
</section>