
@import "colors";

@import 'flavors/mini-eli';

$font-stack-title: 'Della Respira', serif;
$font-stack-heading: 'Merriweather', serif;
$font-stack-sans: 'Lato', sans-serif;
$font-stack-mono: 'Courier Prime', 'Courier', monospace;

$base-font-size: 18px;


$page-width: 900px;
$max-cards-per-row: 2.5;

$padding: 10px;

$card-width: ($page-width / $max-cards-per-row) - $padding * 4;

$card-height: $card-width + 120px;


.container {
	padding:0;
}

body {

/*
	padding: $padding;
	margin: 10px;
*/


	header {

		padding-top: $padding;
		padding-right: $padding;

		border: 0;

		.logo {
			//font-size: 2em;
			font-family: $font-stack-title;
			//display: inline-block;
			margin-top:0;
			padding-top:0;

		}

		#ext-icons {

			margin-inline-end: $padding;

			a {
				font-size: 30px;
				margin-inline-end: 5px;
				color: $header-fore-color;

				&:hover, &:focus {
					text-decoration: none;
					color: $shade-color-2;
				}
			}


		}



		.button {

		border-top-left-radius: $padding;
		border-top-right-radius: $padding;

			&.current {
				color: $primary-color;
				background-color: $back-color;
			}
		}
	}


/*	header {

		background-color: $accent-color-1;
		color: $white;

		nav {

			font-size: 32px;

			a {
				color: $white;
				font-family: $font-stack-heading;
				text-decoration: none;
			}

			a:hover {

				color: $accent-color-3;
			}

			.current {
				/*font-weight: bold;/
				color: $accent-color-3;
			}
		}
	}*/

	margin-right: calc(100%-100vw); // Prevent the page from changing position when moving between pages that have or don't have a scrollbar. Thanks stackoverflow! https://stackoverflow.com/a/30293718


	color: $primary-color;

	h1, h2, h3, h4, h5, h6 {
		font-family: $font-stack-heading;
	}

	h1 {
		font-size: 2em;
	}

	a.novisit:visited, .novisit {
		color: $a-link-color;
	}

	p, tr {
		text-align: justify;
	}

	p, tr, .font-size-normal {
		font-size: $base-font-size;
	}

	.smaller-text {
		font-size: $base-font-size - 2px;
	}

	* {
		font-family: $font-stack-sans;
	}

	code {
		font-family: $font-stack-mono;
		background-color: $background-alternate-color;
		border-radius: 5px;
		padding: 0px 5px;
	}

	.card {
		display: inline-block;
		width: $card-width;
		height: $card-height;

		img {
			width: $card-width;
			height: $card-width;

		}

	}

	.tags {
		display: flex;
		flex-flow: row wrap;

	}

	.no-decoration {
		text-decoration: none;
	}

	.capsule-background {

		border-radius: 5px;
		padding: 2px 5px;
		margin: 2px;
	}

	.rounded-border-top {
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
	}

	.rounded-border-bottom {
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}

	/* It's not yet time for clickable tags
	.tag:hover {
		background-color: $accent-color-1;
		color: $white;
	}*/


	.negative-margins {
		margin: -10px; /* ugly hack */
	}

	.no-bottom-margin {
		margin: {
			bottom: 0px;
		}
	}

	.no-top-margin {
		margin: {
			top: 0px;
		}
	}

	.small-vert-margin {
		margin: {
			bottom: 5px;
			top: 5px;
		}
	}

	.padding {
		padding: $padding;
	}

	.flexlist {

		display: flex;
		flex-flow: row wrap;
		align-items: baseline;
	}

	.flex {
		display: flex;
	}

	.flex-center {
		align-items: center;
	}

	.flex-baseline {
		align-items: baseline;
	}

	.flex-item-grow {
		flex-grow: 1;
	}

	.flex-column {
		flex-direction: column;
	}

	.flex-spread {
		justify-content: space-between;
	}

	.flex-wrap {
		flex-wrap: wrap;
	}

	.cardlist {
		display: flex;
		justify-content: center;
	}

	.back-1 {
		background-color: $background-alternate-color;
	}

	.back-2 {
		background-color: $background-page-color;
	}

	.margin-uni {
		margin-left: var(#{$universal-margin-var});
		margin-right: var(#{$universal-margin-var});
	}

}
