

$font-stack-title: 'Della Respira', serif;
$font-stack-heading: 'Merriweather', serif;
$font-stack-mono: 'Courier Prime', 'Courier', monospace;

$base-font-size: 18px;


$page-width: 900px;
$max-cards-per-row: 2.5;

$padding: 10px;

$card-width: ($page-width / $max-cards-per-row) - $padding * 4;

$card-height: $card-width + 120px;


@import "colors";
@import 'flavors/mini-eli';


.container {
	padding:0;
}

body {

/*
	padding: $padding;
	margin: 10px;
*/

	.center {
		text-align: center;
	}

	// We want headings to be closer to the text they relate to than to the text above them.

	h2, h3, h4, h5, h6 {

		margin-bottom: 0em;
		margin-top: 1.5em;

	}

	header {

		padding-top: $padding;
		//padding-right: $padding;
		padding-right: calc(20px - 100vw + 100%); // Prevent the page from changing position when moving between pages that have or don't have a scrollbar. Thanks stackoverflow! https://stackoverflow.com/a/30293718

		border: 0;

		.logo {
			//font-size: 2em;
			font-family: $font-stack-title;
			//display: inline-block;
			margin-top:0;
			padding-top:0;


		}

		.button {

			border-top-left-radius: $padding;
			border-top-right-radius: $padding;

			&.current {
				color: $primary-color;
				background-color: $back-color;
			}
		}
	}

	color: $primary-color;

	h1, h2, h3, h4, h5, h6 {
		font-family: $font-stack-heading;
	}

	a.novisit:visited, .novisit {
		color: $a-link-color;
	}

	.smaller-text {
		font-size: $base-root-font-size - 2px;
	}

	code {
		font-family: $font-stack-mono;
		background-color: $background-alternate-color;
		border-radius: 5px;
		padding: 0px 5px;
	}

	.project-card {
		display: inline-block;
		background-color: $shade-color-1;

		margin-inline-end: $padding;

		img {
			width:100%;

		}
	}
	.card {
		background-color: $shade-color-1;
	}

	.list-capsule {
		$radius: 15px;

		&:first-of-type {
			border-top-left-radius: $radius;
			border-top-right-radius: $radius;
		}

		&:last-of-type {
			border-bottom-left-radius: $radius;
			border-bottom-right-radius: $radius;
		}
	}

	.tags {
		display: flex;
		flex-flow: row wrap;

	}

	.no-decoration {
		text-decoration: none;
	}

	.capsule-background {

		border-radius: 5px;
		padding: 2px 5px;
		margin: 2px;
	}

	.rounded-border-top {
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
	}

	.rounded-border-bottom {
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}

	/* It's not yet time for clickable tags
	.tag:hover {
		background-color: $accent-color-1;
		color: $white;
	}*/


	.negative-margins {
		margin: -10px; /* ugly hack */
	}

	.no-bottom-margin {
		margin: {
			bottom: 0px;
		}
	}

	.no-top-margin {
		margin: {
			top: 0px;
		}
	}

	.small-vert-margin {
		margin: {
			bottom: 5px;
			top: 5px;
		}
	}

	.padding {
		padding: $padding;
	}

	.flexlist {

		display: flex;
		flex-flow: row wrap;
		align-items: baseline;
	}

	.flex {
		display: flex;
	}

	.flex-center {
		align-items: center;
	}

	.flex-baseline {
		align-items: baseline;
	}

	.flex-item-grow {
		flex-grow: 1;
	}

	.flex-column {
		flex-direction: column;
	}

	.flex-spread {
		justify-content: space-between;
	}

	.flex-wrap {
		flex-wrap: wrap;
	}

	.cardlist {
		display: flex;
		justify-content: center;
	}

	.back-1 {
		background-color: $background-alternate-color;
	}

	.back-2 {
		background-color: $background-page-color;
	}

	.margin-uni {
		margin-left: var(#{$universal-margin-var});
		margin-right: var(#{$universal-margin-var});
	}

}


#social-links {

	display: flex;
	justify-content: center;


	a {
		font-size: 30px;
		margin-inline-end: 5px;
		transition: color 0.3s;

		&:hover, &:focus {
			text-decoration: none;
			color: lighten($link-color, 10%);
		}
	}
}
